<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- Core congiguration -->
	<name>doc.asyncode.com</name>
	<domain>http://doc.asyncode.com:9999/</domain>
	<staticDir>/var/ACF/doc/static</staticDir>
	<sessionDir>/var/ACF/doc/session</sessionDir>
	<debug enable="False" level="error"/>
	<lang default="en" supported="pl"/>
	<plugin name="language">
		<langs default="en" supported="pl"/>
	</plugin>
	<component name="database">
		<server dbms="pgsql" name="main" default="true">
			<host><!--keep empty for socket connections--></host>
			<port><!--default 5432--></port>
			<defaultdb>asyncode_com</defaultdb>
			<user>adrian</user>
			<password>adrkal</password>
			<schema>doc</schema>
		</server>
	</component>
	<output xsltfile="index.xsl"/>
	<component name="filesystem">
		<absolutePath>/var/ACF/doc.asyncode.com/</absolutePath>
	</component>
	<engine name="acte">
		<staticDomain>http://oyc.fstatic.eu/</staticDomain>
		<backgroundcolor>#464646</backgroundcolor>
		<defaultwidth>974</defaultwidth>
		<description>Adrian Kalbarczyk home page. Articles on optimization, computer science and related topics.</description>
		<keywords>optimization, Adrian Kalbarczyk, java script, python, xslt</keywords>
	</engine>
</config>
