Source: acr
Section: python
Priority: standard
Maintainer: Asyncode <biuro@asyncode.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.3.5),
               python-debian

Package: acr
Architecture: all
Depends: locales, python, ${misc:Depends}, python-lxml, python-psycopg2, python-libxslt1
Recommends: lsb-release, iso-codes, python2.6
Description: Asyncode Runtime
 Write something more about AC Runtime.