<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- Core congiguration -->
	<name>optimizeyourcode.com</name>
	<domain>localhost:9999/</domain>
	<staticDir>/home/sebastian/ACF/adrian/oyc/static</staticDir>
	<sessionDir>/home/sebastian/ACF/adrian/oyc/session</sessionDir>
	<debug enable="True" level="info"/>
	<lang default="en" supported="pl"/>
	<plugin name="language">
		<langs default="en" supported="pl"/>
	</plugin>
	<component name="database">
		<server dbms="pgsql" name="main" default="true">
			<host><!--86.111.244.228--></host>
			<port><!--default 5432--></port>
			<defaultdb>sebastian</defaultdb><!--asyncode_com-->
			<user>sebastian</user>
			<password>zbychubaza</password>
			<schema>asyncode</schema>
		</server>
	</component>
	<output xsltfile="index.xsl"/>
	<component name="filesystem">
		<absolutePath>/home/sebastian</absolutePath>
	</component>
	<engine name="acte"/>
	<!--<engine name="acte">-->
	<!--	<staticDomain>http://oyc.fstatic.eu/</staticDomain>-->
	<!--	<backgroundcolor>#464646</backgroundcolor>-->
	<!--	<defaultwidth>974</defaultwidth>-->
	<!--	<description>Adrian Kalbarczyk home page. Articles on optimization, computer science and related topics.</description>-->
	<!--	<keywords>optimization, Adrian Kalbarczyk, java script, python, xslt</keywords>	</engine>-->
</config>
