body,html {
	color:#000;
	background:#fff;
	margin:0;
	padding:0;
}
#left{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	background:#003;
	width:160px;
	/*height:1000px;*/
	z-index:1;
	margin-right:48px;
}
#left .logo{
	margin:32px;
}
#top{
	position:relative;
	/*top:0;*/
	/*left:0;*/
	/*right:0;*/
	background:#9cf;
	height:112px;
	margin-bottom:48px;
	/*width:100%;*/
}
#menu{
	position:absolute;
	bottom:0;
	left:240px;
	background:#fff;
	height:16px;
	width:320px;/* total width 384*/
	padding:32px;
	padding-top:32px;
	padding-bottom:16px;
}
#menu a{
	display:block;
	color:#333;
	padding:0 8px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	float:left;
	font-size:16px;
}
#menu a:hover{
	color:#9cf;
}
#bottom{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:#ccc;
	background:#003;
	height:80px;
}
.magazineView{
	position:absolute;
	left:224px;
	top:160px;
	bottom:96px;
	right:32px;
	/*outline:1px solid red;*/
	/*margin-left:240px;*/
	font-size:13px;
	font-family:Arial;
	line-height:16px;
	/*height:752px;*/
	overflow:hidden;
	/**position: relative;*/
}

.magazineView .bd{
	cursor:all-scroll;
	cursor:-moz-grab;
	height:894px;/*640px;/*mv.h-bd.pt-bd.pb-hd.h-ft.h*/
	width: 1799px;
	padding:16px 0;
	position: relative;
	overflow:hidden;
	/*background: url('http://www.valhalla.pl/i/bgMain.jpg') top left;*/
}

.magazineView .bd:focus{
	/*cursor:-moz-grabbing;*/
}

.magazineView .ft{
	/*color:#fff;*/
	height:32px;
	/*background: url('http://www.valhalla.pl/i/bgMainTop.jpg') top left;*/
}

.magazineView .hd{
	background:#000;
	color:#fff;
	height:16px;
}
.magazineView .bd .column {
	width:268px;
	position:absolute;
	bottom:16px;
	overflow:hidden;
	/*border-right:1px dashed black;*/
	padding-left:16px;
	padding-right:16px;
}

.magazineView .bd .block {
	position:absolute;
	padding-left:16px;
	padding-right:16px;
	/*background-color:red;*/
}


.magazineView .filler-8px {
	height:8px;
	width:299px;
	border-right:1px dashed black;
}

.magazineView h1,
.magazineView h2,
.magazineView h3,
.magazineView h4{
	color:#f60;
	text-align:right;
	border-bottom: 6px solid #9cf;
	padding-bottom:6px;
	margin-bottom:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:16px;
	height:16px;
}
.magazineView /*.column*/ h1{
	text-align:left;
	height:32px;
	line-height:32px;
	font-size:20px;
	border-bottom: 6px solid #9cf;
	padding-bottom:10px;
	margin-bottom:16px;
	margin-top:0px;
	margin-bottom:16px;
}
.magazineView h1:first-letter{
	font-size:28px;
}
.magazineView h2:first-letter{
	font-size:23px;
}
.magazineView h3:first-letter{
	font-size:22px;
}
.magazineView h4:first-letter{

}
.magazineView /*.column*/ h2{
	/*letter-spacing:2px;*/
	font-size:16px;
}

.magazineView .column h3{
	font-size:14px;
}

.magazineView .column ol, .magazineView .column  ul{
	list-style-position:outside;
	margin:8px 8px 0;
	padding-bottom: 8px;
}

.magazineView .column ol ol, .magazineView .column ul ul{
	/*margin-top:8px;*/
	margin-left:0;
	padding-bottom:0;
}

.magazineView .column ul li{
	text-align:justify;
	list-style-type: disc;
	margin-left:16px;
}

.magazineView .column ul ul li{
	list-style-position:outside;
	list-style-type: disc;
}

.magazineView .column a{
	text-decoration:none;
	color: #069;
}
.magazineView .column a:hover{
	text-decoration: underline;
}

.magazineView p {
	text-align:justify;
	text-indent:16px;
	/*margin-bottom:16px;*/
}
.magazineView p::first-line{
	margin-left:16px;
}
.magazineView p.intro{
	text-align:justify;
	font-weight: bold;
	margin-bottom:16px;
	color:#069;
	line-height:18px;
	font-size:15px;
}

.magazineView .ft .left{
	float:left;
	cursor:pointer;
	font-size:24px;
	line-height:32px;

}

.magazineView .ft .right{
	float:right;
	cursor:pointer;
	font-size:24px;
	line-height:32px;
}

.magazineView .ft .navBar{
	text-align: center;
	padding-top:8px;
}

.magazineView .ft .navBar span{
	padding:0 3px;
	margin:0 1px;
	line-height:16px;
	width:16px;
	height:16px;
	cursor:pointer;
}

.magazineView .ft .navBar span:hover{
	background-color:#777;
}

.from{
	display:none;
}
